.form-control{
    border-radius: 50px;
    height: auto;
    margin: 10px 0;
    border: 1px solid gainsboro;
    display: flex;

}

.form-control input{
    margin: 0;
    width: 100%;
    padding: 8px 16px;
    background: #ff2e6200;
    border: 0;
    color: #252A34;
    font-size: 16px;
}
.form-control input::placeholder{
    color: #252A34;
    font-size: 16px;
    font-weight: 500;
}
:focus{
    outline: none;
}

.form-control button{
    background-color: #FF8400;
    border-radius: 50px;
    border: 0;
    width: 30%;

}